@font-face { font-family: FucXed; font-style: normal; font-weight: normal; src: url("../fonts/fucxedcaps-v2-webfont.woff2") format("woff2"), url("../fonts/fucxedcaps-v2-webfont.woff") format("woff"); font-display: swap; }

/** Reset some basic elements */
body { margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6, p, hr, dl, dd, ol, ul { margin: 10px 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { font-weight: 400; font-family: "FucXed", "Helvetica Neue", Helvetica, Arial, sans-serif; margin-top: 20px; }

pre, code, blockquote, figure, table { margin: 20px 0; padding: 0; }

/** Basic styling */
body { font: 400 16pt/1.5 "", "Crimson Text", serif; color: #111; background-color: #fdfdfd; display: flex; min-height: 100vh; flex-direction: column; }

h1 { text-align: center; line-height: 1.1; font-family: "FucXed", "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 1em 0 0.4em 0; }

p { margin: 1em 0; }

img { max-width: 100%; vertical-align: middle; }

figure > img { display: block; margin-left: 50%; transform: translateX(-50%); }

figure > figcaption { text-align: center; font-size: 14pt; color: #3f3f3f; }

/** Lists */
ul, ol { margin-left: 10px; }

li > ul, li > ol { margin-bottom: 0; }

ol li { list-style-type: none; counter-increment: list; position: relative; margin-left: 1.2em; }

ol li:before { font-weight: bold; content: counter(list) "."; position: absolute; left: -2.5em; width: 2em; text-align: right; color: #3f61b6; }

ol .li01:before { content: '1.'; }

ol .li02:before { content: '2.'; }

ol .li03:before { content: '3.'; }

ol .li04:before { content: '4.'; }

ol .li05:before { content: '5.'; }

ol .li06:before { content: '6.'; }

ol .li07:before { content: '7.'; }

ol .li08:before { content: '8.'; }

ol .li09:before { content: '9.'; }

ol .li10:before { content: '10.'; }

ol .li11:before { content: '11.'; }

ol .li12:before { content: '12.'; }

ol .li13:before { content: '13.'; }

ol .li14:before { content: '14.'; }

ol .li15:before { content: '15.'; }

ol .li16:before { content: '16.'; }

ol .li17:before { content: '17.'; }

ol .li18:before { content: '18.'; }

ol .li19:before { content: '19.'; }

ol .li20:before { content: '20.'; }

ol .li21:before { content: '21.'; }

ol .li22:before { content: '22.'; }

ol .li23:before { content: '23.'; }

ol .li24:before { content: '24.'; }

ol .li25:before { content: '25.'; }

ol .li26:before { content: '26.'; }

ol .li27:before { content: '27.'; }

ol .li28:before { content: '28.'; }

ol .li29:before { content: '29.'; }

ol .li30:before { content: '30.'; }

ol .li31:before { content: '31.'; }

ul li { color: #111; list-style-type: none; }

ul li:before { content: '\2022 '; color: #3f61b6; padding-right: 0.5em; }

/** Links */
a { color: #3f61b6; text-decoration: none; font-weight: bold; }

a:visited { color: #2b437d; }

a:hover { color: #111; text-decoration: underline; }

/** Blockquotes */
blockquote { color: #424242; border-left: 4px solid #3f61b6; padding-left: 10px; font-size: 18pt; letter-spacing: -1px; font-style: italic; }

blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { font-size: 15pt; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #eef; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }

pre > code { border: 0; padding-right: 0; padding-left: 0; }

/** Tables */
table { width: 100%; text-align: left; color: #3f3f3f; border-collapse: collapse; border: 1px solid #e8e8e8; font-size: 14pt; }

table tr:nth-child(even) { background-color: #f7f7f7; }

table th, table td { padding: 3.3333333333px 5px; }

table th { background-color: #f0f0f0; border: 1px solid #dedede; border-bottom-color: #c9c9c9; font-size: 11.2pt; }

table td { border: 1px solid #e8e8e8; }

table caption { font-size: 14pt; caption-side: bottom; }

/** Clearfix */
.Rebellion-Wrapper-Narrow:after, .Rebellion-Wrapper-Wide:after { content: ""; display: table; clear: both; }

.invert-text { color: #fdfdfd; }

.nav-hide { top: -56px; }

@media screen and (min-width: 425px) { .nav-hide { top: -72px; } }

.nav-visible { top: 0; }

.Rebellion-Header { transition: top 0.2s ease-in-out; box-shadow: 0 1px 10px #222; position: fixed; left: 0; right: 0; z-index: 2; color: #111; text-transform: uppercase; }

.Rebellion-Header a { font-weight: normal; }

.Rebellion-Header .edgePadding { flex-basis: 40px; flex-shrink: 10000; flex-grow: 0; min-width: 5px; }

.Rebellion-Header .centralPadding { flex-basis: 40px; flex-shrink: 10000; flex-grow: 10000; min-width: 20px; }

.Rebellion-Header .social-links a { text-decoration: none; }

.Rebellion-Header .social-links a svg { transition: 0.2s; fill: #111; height: 38px; }

.Rebellion-Header .social-links a svg:hover { fill: #eeeeee; }

.Rebellion-Header .social-links a svg:hover path, .Rebellion-Header .social-links a svg:hover .st0 { fill: #111; }

.Rebellion-Header .social-links a svg path, .Rebellion-Header .social-links a svg .st0 { fill: #eeeeee; }

.Rebellion-Header .site-title { font-family: "FucXed", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 26pt; transition: 0.1s; height: 100%; display: flex; flex-direction: column; justify-content: center; line-height: 1.2; }

.Rebellion-Header .site-title, .Rebellion-Header .site-title:visited { color: #111; }

.Rebellion-Header .site-title:hover { text-decoration: none; border-bottom: 3px solid red; color: #fdfdfd; }

.Rebellion-Header .site-title img { max-height: 56px; box-sizing: border-box; padding: 10px 0; }

@media screen and (min-width: 425px) { .Rebellion-Header .site-title img { max-height: 72px; } }

.Rebellion-Header .site-title .logo-square { display: none; max-width: 56px; max-height: 56px; }

@media screen and (min-width: 425px) { .Rebellion-Header .site-title .logo-square { max-width: 56px; max-height: 72px; } }

@media screen and (max-width: 250px) { .Rebellion-Header .site-title .main-logo { display: none; } .Rebellion-Header .site-title .logo-square { display: block; } .Rebellion-Header .centralPadding { min-width: 0; } .Rebellion-Header .site-title span { display: none; } }

@media screen and (max-width: 140px) { .Rebellion-Header .site-title .logo-square { display: none; } }

.Rebellion-Header .desktop { background-color: #3f61b6; position: relative; display: flex; flex-direction: row; flex-wrap: nowrap; justify-items: space-between; align-items: center; min-height: 56px; height: 100%; display: none; }

@media screen and (min-width: 425px) { .Rebellion-Header .desktop { min-height: 72px; } }

.Rebellion-Header .desktop .Rebellion-Button { display: flex; flex-direction: column; justify-content: center; align-self: center; font-size: 15px; height: 42px; padding: 13px 16px; box-sizing: border-box; }

.Rebellion-Header .desktop .withinPadding { flex-basis: 40px; flex-shrink: 10000; min-width: 15px; }

.Rebellion-Header .desktop .page-link { color: #111; line-height: 1.5; font-family: "FucXed", "Helvetica Neue", Helvetica, Arial, sans-serif; transition: 0.1s; line-height: 1; flex-shrink: 0.01; height: 100%; display: flex; flex-direction: column; justify-content: center; text-align: center; }

.Rebellion-Header .desktop .page-link:hover { text-decoration: none; border-bottom: 4px solid red; color: #fdfdfd; }

.Rebellion-Header .desktop .social-links-padding { flex-basis: 0; flex-shrink: 10000; min-width: 0; }

@media screen and (min-width: 770px) { .Rebellion-Header .desktop .social-links-padding { flex-basis: 40px; flex-shrink: 10000; min-width: 15px; } }

.Rebellion-Header .desktop .social-links { align-items: center; justify-items: center; display: none; }

.Rebellion-Header .desktop .social-links svg { width: 32px; height: 32px; margin-right: 5px; }

@media screen and (min-width: 770px) { .Rebellion-Header .desktop .social-links { display: flex; } }

@media screen and (min-width: 570px) { .Rebellion-Header .desktop { display: flex; } }

.Rebellion-Header .mobile { background-color: #3f61b6; display: flex; flex-direction: row; flex-wrap: nowrap; justify-items: space-between; align-items: center; min-height: 56px; height: 100%; }

@media screen and (min-width: 425px) { .Rebellion-Header .mobile { min-height: 72px; } }

.Rebellion-Header .mobile .nav-trigger { display: none; }

.Rebellion-Header .mobile .site-title { order: 2; }

.Rebellion-Header .mobile > .Rebellion-Button { position: relative; top: -1px; order: 4; margin-right: 16px; font-size: 15px; line-height: 1; height: 42px; padding: 13px 16px; box-sizing: border-box; display: none; }

@media screen and (min-width: 425px) { .Rebellion-Header .mobile > .Rebellion-Button { display: inline-block; } }

.Rebellion-Header .mobile .menu-icon { line-height: 0; width: 18px; height: 15px; position: relative; left: 0; top: 0; transition: 0.3s; padding: 14px; border-radius: 5px; background-color: red; }

.Rebellion-Header .mobile .menu-icon:hover { background-color: #b30000; }

.Rebellion-Header .mobile .menu-icon > svg path { fill: #fdfdfd; }

.Rebellion-Header .mobile .close-menu, .Rebellion-Header .mobile .open-menu { width: 46px; height: 46px; align-self: center; cursor: pointer; order: 4; }

.Rebellion-Header .mobile .centralPadding { order: 3; }

.Rebellion-Header .mobile .edgePadding { order: 6; max-width: 16px; }

.Rebellion-Header .mobile .edgePadding:first-of-type { order: 1; }

.Rebellion-Header .mobile input { order: 5; }

.Rebellion-Header .mobile .menu-icon { display: block; }

.Rebellion-Header .mobile .desktop-nav { display: none; }

.Rebellion-Header .mobile .social-links { margin: 5px 20px 20px 0; text-align: right; align-items: center; }

.Rebellion-Header .mobile .social-links svg { width: 42px; height: 42px; transition: 0.2s; }

.Rebellion-Header .mobile .close-menu { display: none; z-index: 2; position: fixed; top: 6px; right: 16px; }

@media screen and (min-width: 425px) { .Rebellion-Header .mobile .close-menu { top: 14px; } }

.Rebellion-Header .mobile .close-menu .menu-icon { width: 18px; height: 18px; padding: 12px 14px; }

.Rebellion-Header .mobile input ~ .mobile-drawer-container { right: -100%; }

@media screen and (min-width: 570px) { .Rebellion-Header .mobile input ~ .mobile-drawer-container { display: none; } }

.Rebellion-Header .mobile input:checked ~ .close-menu { display: block; }

.Rebellion-Header .mobile .mobile-drawer-container { transition: right 0.3s ease-in-out; box-shadow: -1px 0 10px #222; position: fixed; display: flex; top: 0; bottom: 0; right: 0; z-index: 1; min-width: 240px; max-width: 400px; width: 85%; }

@media screen and (max-width: 250px) { .Rebellion-Header .mobile .mobile-drawer-container { min-width: unset; width: 100%; } }

.Rebellion-Header .mobile .mobile-drawer-container .mobile-drawer { background-color: #3f61b6; width: 100%; position: relative; padding-top: 56px; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: space-between; align-items: stretch; align-content: space-around; }

@media screen and (min-width: 425px) { .Rebellion-Header .mobile .mobile-drawer-container .mobile-drawer { padding-top: 72px; } }

.Rebellion-Header .mobile .mobile-drawer-container .mobile-drawer > a { align-self: center; }

.Rebellion-Header .mobile .mobile-drawer-container .mobile-drawer .mobile-nav { display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: stretch; align-content: space-around; }

.Rebellion-Header .mobile .mobile-drawer-container .mobile-drawer .mobile-nav .page-link { border-top: 1px solid #111; color: #111; line-height: 1.5; font-family: "FucXed", "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 0.5rem; padding-left: 1.5rem; }

.Rebellion-Header .mobile .mobile-drawer-container .mobile-drawer .mobile-nav .page-link:hover { text-decoration: none; border-bottom: 1px solid red; color: #fdfdfd; }

.Rebellion-Header .mobile .mobile-drawer-container .mobile-drawer .mobile-nav .page-link:hover + .page-link { border-top: none; }

.Rebellion-Header .mobile input:checked ~ .mobile-drawer-container { right: 0; }

@media screen and (min-width: 570px) { .Rebellion-Header .mobile input:checked ~ .mobile-drawer-container { display: none; } }

.Rebellion-Header .mobile .scrim { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: black; opacity: 0; z-index: 0; cursor: pointer; display: block; transition: opacity 0.3s ease-in-out; pointer-events: none; }

.Rebellion-Header .mobile input:checked ~ .scrim { pointer-events: initial; opacity: 0.5; }

@media screen and (min-width: 570px) { .Rebellion-Header .mobile .open-menu { display: none; } }

@media screen and (min-width: 570px) { .Rebellion-Header .mobile { display: none; } }

.Rebellion-Footer { background-color: #111; color: #fdfdfd; padding: 60px 0 20px 0; font-size: 14pt; }

.Rebellion-Footer a { color: white; text-decoration: underline; font-weight: normal; }

.Rebellion-Footer a:hover { color: #869dd5; text-decoration: none; }

.Rebellion-Footer .logo-line { position: relative; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; }

.Rebellion-Footer .logo-line .site-title { flex: 1 0 auto; }

.Rebellion-Footer .logo-line .main-logo { height: 46px; max-width: 161px; padding: 10px 0; }

.Rebellion-Footer .logo-line .social-links a { text-decoration: none; }

.Rebellion-Footer .logo-line .social-links a svg { transition: 0.2s; fill: #fdfdfd; height: 38px; }

.Rebellion-Footer .logo-line .social-links a svg:hover { fill: #3f61b6; }

.Rebellion-Footer .logo-line .social-links a svg path, .Rebellion-Footer .logo-line .social-links a svg .st0 { fill: #111; }

@media screen and (max-width: 200px) { .Rebellion-Footer .logo-line .main-logo { display: none; } .Rebellion-Footer .logo-line .logo-square { display: block; } .Rebellion-Footer .logo-line span { display: none; } }

.Rebellion-Footer nav { padding: 20px 0 30px 0; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: flex-start; }

.Rebellion-Footer nav a { text-decoration: none; }

.Rebellion-Footer nav a:hover { text-decoration: underline; }

.Rebellion-Footer nav .col { display: flex; flex-direction: column; padding: 10px 0; }

.Rebellion-Footer p { text-align: center; font-size: 11.2pt; }

.Rebellion-Section { padding: 10vh 0; width: 100%; position: relative; box-sizing: border-box; }

.Rebellion-Section:first-of-type { padding-top: 106px; }

@media screen and (min-width: 425px) { .Rebellion-Section:first-of-type { padding-top: 122px; } }

.Rebellion-Section .social-links a { text-decoration: none; }

.Rebellion-Section .social-links a svg { transition: 0.2s; fill: #111; height: 38px; }

.Rebellion-Section .social-links a svg:hover { fill: #3f61b6; }

.Rebellion-Section .social-links a svg:hover path, .Rebellion-Section .social-links a svg:hover .st0 { fill: red; }

.Rebellion-Section .social-links a svg path, .Rebellion-Section .social-links a svg .st0 { fill: #eeeeee; }

.Rebellion-Wrapper-Wide { max-width: -webkit-calc(600px - (10px)); max-width: calc(600px - (10px)); margin-right: auto; margin-left: auto; padding-right: 10px; padding-left: 10px; }

.Rebellion-Wrapper-Narrow { max-width: -webkit-calc(400px - (10px)); max-width: calc(400px - (10px)); margin-right: auto; margin-left: auto; padding-right: 10px; padding-left: 10px; }

.Rebellion-Main { display: flex; flex: 1 0 auto; flex-direction: column; display: block; }

.Rebellion-Big-Picture { background-position: center; background-size: cover; height: 100vh; padding: 0; }

.Rebellion-Half-Picture { background-position: center; background-size: cover; padding: 0; height: 45vh; }

.Rebellion-Near-Bottom { position: absolute; bottom: 10%; left: 0; right: 0; }

.Rebellion-Flex-Line { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; }

.Rebellion-Demand { background-color: #fdfdfd; box-shadow: 0 5px 10px #222; padding: 10px; padding-bottom: 5px; margin: 10px; max-width: 280px; width: 90%; }

.Rebellion-Button { display: inline-block; background-color: red; color: #fdfdfd; padding: 0.5em 1em; border-radius: 5px; font-family: "FucXed", "Helvetica Neue", Helvetica, Arial, sans-serif; transition: background-color 0.3s  ease-in-out; font-weight: normal; }

.Rebellion-Button:hover { text-decoration: none; background-color: #b30000; }

.Rebellion-Button:visited { color: #fdfdfd; }

.Rebellion-PullQuote { background-color: #3f61b6; color: #111; font-family: "FucXed", "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: center; padding: 130px 0 100px 0; }

.Rebellion-PullQuote h1 { text-align: left; margin: 1em 0; font-size: 20pt; }

@media screen and (min-width: 400px) { .Rebellion-PullQuote h1 { font-size: 24pt; } }

@media screen and (min-width: 800px) { .Rebellion-PullQuote h1 { font-size: 32pt; } }

.Rebellion-Post-Info { display: flex; flex-wrap: wrap; justify-content: space-evenly; align-content: stretch; padding-top: 40px; font-size: 14pt; }

.Rebellion-Post-Info > .box { padding: 0 20px; flex: 0 1 300px; }

.Rebellion-Blog-List li { list-style-type: none; counter-increment: list; position: relative; margin-left: 2.5em; }

.Rebellion-Blog-List li:before { font-weight: bold; position: absolute; left: -2.6em; width: 2em; text-align: right; color: #111; font-family: "FucXed", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 2em; }

.Rebellion-Blog-Item { display: flex; flex-direction: column; align-items: center; background-color: #fdfdfd; box-shadow: 0 5px 10px #222; padding: 10px; padding-bottom: 5px; margin: 10px; max-width: 600px; width: 90%; }

.Rebellion-Blog-Item > img { margin: 10px 0 5px 0; }

.Rebellion-Blog-Item .top { display: flex; flex-direction: row; align-items: center; width: 100%; }

.Rebellion-Blog-Item .top .date { flex-basis: 60px; flex-grow: 0; flex-shrink: 0; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; font-family: "FucXed", "Helvetica Neue", Helvetica, Arial, sans-serif; padding-right: 10px; }

.Rebellion-Blog-Item .top .date .day-number { font-size: 32pt; border-bottom: 4px solid #21a73d; line-height: 1; }

.Rebellion-Blog-Item .top .date .month { font-size: 14pt; color: #3f3f3f; }

.Rebellion-Blog-Item .top .description { line-height: 1; width: 100%; font-size: 14pt; }

.Rebellion-Blog-Item .top .description h3, .Rebellion-Blog-Item .top .description h4 { margin-top: 5px; }

.Rebellion-Blog-Item .top .description .bottom-line { display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 100%; }

/* Tweet formatting */
.tweet > p, .tweet > p * { font-family: Arial, Helvetica, sans-serif; color: white; font-weight: normal; }

.card.tweet { background-color: #15202b; }

.card.tweet:hover { background-color: #15202b; box-shadow: 0 0 10px 0 #15202b; }

.tweet .at, .tweet .hashtag { color: #1b95e0; }

/* Event box formatting */
a.card:hover { color: inherit; }

section.card { display: flex; justify-content: space-between; margin-top: 1vh; padding-left: 1vw; transition: 100ms; border-radius: 7px; }

@media print { body { font-size: 12pt; } .Rebellion-Header, .Rebellion-Footer, .Rebellion-Big-Picture, .Rebellion-Half-Picture { display: none; } .Rebellion-Wrapper-Wide, .Rebellion-Wrapper-Narrow { padding-left: 0; padding-right: 0; max-width: none; } .Rebellion-Section { padding: 3em 0; } body { display: block; } }

.Rebellion-Block:not(.text):not(.full) { min-height: calc(max(min( 50vw, 60vh ), 400px)); }

.Rebellion-Block.full:not(.text) { min-height: 100vh; }

.Rebellion-Block:not(.text) > .half { display: flex; flex-direction: column; justify-content: center; }

.Rebellion-Block:not(.text) > .half:not(.full) { min-height: calc(max(min( 50vw, 60vh ), 400px)); }

.Rebellion-Block:not(.text) > .half.full { min-height: 100vh; }

.Rebellion-Block:not(.text) > .half .content { padding: 10px; max-width: 600px; margin: 0 auto; }

.Rebellion-Block:not(.text) .panel { background: #3f61b6 no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; position: relative; }

.Rebellion-Block:not(.text) .panel:not(.full) { min-height: calc(max(min( 50vw, 60vh ), 400px)); }

.Rebellion-Block:not(.text) .panel.full { min-height: 100vh; }

.Rebellion-Block:not(.text) .panel > div { position: absolute; top: 0; left: 0; height: 100%; width: 100%; margin: 0; padding: 0; }

.Rebellion-Block:not(.text) .panel .background { background-color: #3f61b6; }

.Rebellion-Block:not(.text) .panel .heading { display: flex; flex-direction: column; justify-content: center; }

.Rebellion-Block:not(.text) .panel .heading h1 { color: #111; text-align: center; margin: 1em 0; font-size: 32pt; }

.Rebellion-Block:not(.text) .panel .heading h1 strong, .Rebellion-Block:not(.text) .panel .heading h1 b { border-bottom-color: #fdfdfd; border-bottom-width: 1em; color: #111; }

.Rebellion-Block:not(.text) #Rebellion-Map { height: calc(max(min( 50vw, 60vh ), 400px)); }

.Rebellion-Block.half:not(.text):nth-of-type(even) { flex-direction: row-reverse; }

@media only screen and (min-width: 1000px) { .Rebellion-Block.half { display: flex; } .Rebellion-Block.half > .half { width: 50%; min-height: calc(max(min( 50vw, 60vh ), 400px)); } }

.target:target { display: block; }

.target { display: none; color: red; }

button.Rebellion-Button { border: 0; font-size: 1em; }

input[type="submit"], button { all: none; margin: 10px auto; }

#can_embed_form { list-style: none; }

#can_embed_form form ul { list-style: none; }

#can_embed_form form li::marker #can_embed_form form li::before { display: none; }

#can_embed_form form .check_radio_field > * { display: block; }

#can_embed_form #logo_wrap { display: none; }

.Rebellion-Form div.input.text { margin: 15px 0; display: flex; flex-direction: column-reverse; }

.Rebellion-Form input[required] + label::after, .Rebellion-Form textarea[required] + label::after { content: " *"; color: #3f61b6; }

.Rebellion-Form input[type="email"], .Rebellion-Form input[type="text"], .Rebellion-Form input[type="tel"], .Rebellion-Form textarea { border-radius: 0; width: 100%; border-top-width: 0; border-bottom-width: 2px; border-left-width: 0; border-right-width: 0; border-color: red; font-size: 16pt; font-family: "", "Crimson Text", serif; }

.Rebellion-Form input[type="email"]:focus, .Rebellion-Form input[type="text"]:focus, .Rebellion-Form input[type="tel"]:focus, .Rebellion-Form textarea:focus { border-color: #3f61b6; border-bottom-width: 3px; outline-color: #3f61b6; }

.Rebellion-Form input[type="submit"], .Rebellion-Form button { margin: 10px auto; }

.Rebellion-Form textarea { max-width: 100%; }

.Rebellion-Form textarea.expand:focus { height: 40vh; }

.Rebellion-Form button { font-size: 1em; }

.Rebellion-Form .form-submit-message:target { display: block; }

.Rebellion-Form .form-submit-message { display: none; }

/*# sourceMappingURL=rebellion-style.css.map */